asgiref
sqlparse
Django
dotenv
python-decouple
mysqlclient
requests
celery
django-multiselectfield
django-encrypted-json-fields
django-admin-sortable2
aiohttp
redis
django-celery-beat
pytesseract
pillow
