py-cord
asgiref
sqlparse
Django
dotenv
python-decouple
mysqlclient
celery
django-multiselectfield
django-encrypted-json-fields
django-admin-sortable2
aiohttp
redis
django-celery-beat
pytesseract
pillow
requests-cache
pydantic
django-celery-results
python-decouple
